<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EJS</h1>
    <h1> <%= name %> you are in class <%=level %></h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident omnis numquam quam voluptatum enim, assumenda autem quae officiis molestiae nesciunt praesentium natus commodi exercitationem! Perferendis ad quas dolore nostrum expedita!</h1>

    <form action="/signup" method="POST">
        <input placeholder="fullname" name="fullname" type="text">
        <input placeholder="email" name="email" type="email">
        <input placeholder="password" name="password" type="password">
        <button type="submit">
            submit
        </button>
    </form>
</body>
</html>